
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="this.sideNav.open()" *ngIf="!sideNav?.opened">menu</mat-icon>
      <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav?.opened">close</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elavation-z8"
      src="https://cdn4.vectorstock.com/i/thumb-large/50/08/news-alerts-breaking-logo-tv-design-element-vector-24575008.jpg"
      alt="img">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>ABC NEWS</span>
    </button>


  </mat-sidenav>
</mat-sidenav-container>
